@model BankAppMvc.ViewModels.RegisterNewCustomerViewModel

<h3 style="text-align:center; font-size:25px; margin-top:70px">Thank you @Model.Surname, your information has been registered successfully!</h3>

<img src="~/images/BankAppImg.png" style="margin-left:200px" />