@model BankAppMvc.ViewModels.MyBankStaticsInfo

<h3 style="margin-left:400px; font-family:Stencil Std, fantasy; font-size:40px; margin-top:70px; text-shadow: 3px 2px gray">Welcome to PLBank!</h3>

<p style="margin-left:150px; font-family:Jazz LET, fantasy; font-size:20px; margin-top:40px">Great online Bank with @Model.nrOfCustomers customers around the world and @Model.nrOfAccounts accounts with @Model.totalBalance total balance</p>



<img src="~/images/BankAppImg.png" style="margin-left:200px" />

